$color-orange: #e84d1c;
.product{
    padding: 20px;
    background-color: #f9f9f9;
    &__title{
        padding: 10px 0;
        h2{
            font-weight: 300;
            color: #3e4d5c;
        }
    }

    &__list{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        position: relative;
    }
    &__item{
        flex-basis:calc(25% - 16px);
        padding: 20px 15px;
        background-color: #fff;

        &:hover{
            box-shadow: 5px 5px rgb(234 234 234 / 90%);
        }
        @media screen and (max-width: 1200px ){
            flex-basis: auto;
        }
        &-top {
            position: relative;
            height: 300px;
            // width: 225px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.4);
                display: none;
            }

            &:hover::before, &:hover .product__item-button {
                display: flex;
            }
        }

        &-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            gap: 0 15px;
            display: none;

            button {
                color: white;
                border: 1px solid white;
                background-color: transparent;
                padding: 5px;
                cursor: pointer;
                transition: 0.25s linear;

                &:hover {
                    background-color: $color-orange;
                }
            }
        }

        &-img {
            height: 100%;
            width: 100%;
        }
        &-name{
            text-transform: uppercase;
            color: #3e4d5c;

            &:hover{
                color: $color-orange;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        span{
            display: block;
            padding-top: 15px;
        }

        &-price{
            color: $color-orange;
        }
        &-btn{
            padding: 8px;
            float: right;
            color: #a8aeb3;
            background-color: #fff;
            border: 1px #ededed solid;
            cursor: pointer;

            &:hover{
                background-color: $color-orange;
                color: #fff;
            }
        }
    }
}