.slider{
  
}
img{
    width: 100%;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.slick-dots {
  transform: translateY(-50px);
}
.slick-dots li button:before {
  font-size: 14px;
}